<div class="row">
  <div class="col-md-6">
    <ol class="list-group">
      <li *ngFor="let todo of todos" class="list-group-item">
        {{todo.name}} : {{todo.content}}
        <i
          (click)="deleteTodo(todo)"
          class="fa fa-trash" aria-hidden="true"></i>
      </li>
    </ol>
  </div>
  <div class="col-md-6">
    Name : <input type="text" class="form-control" [(ngModel)]="todo.name">
    Content : <input type="text" class="form-control" [(ngModel)]="todo.content">
    <button
      [disabled]="!todo.content.trim().length || !todo.name.trim().length"
      (click)="addTodo()"
      class="btn btn-primary">
      Add Todo
    </button>
  </div>
</div>
<app-ngclass></app-ngclass>
